/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;



}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1c;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #141416;
}

/* Navbar styles */
nav {
    background-color: #141416;
    padding: 10px 0;
}

nav img {
    height: 40px;
    margin-right: 20px;
}

.nav-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

nav.navbar {
    width: 100%;

}

.profile-icon {
    width: 20px;
    height: 20px;
    background-color: #fc6262;
    /* margin: 0 10px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: #141416;
    border-radius: 50%;
    padding: 2px;
}

.logins {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-right: 10px; */
    margin: 0px 10px;
    width: 80px;

}

.logins a {
    color: #fc6262;
}


.main-container {
    background-color: #1a1a1c;
    padding: 50px 0px 10px 0px;
}

.overlaps-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 60px 60px 30px 60px;
}

.image-container {
    flex-basis: 50%;
    position: relative;
}

.image-container img {
    width: 70%;

}

.text-container {
    position: relative;
    background-color: #141416;
    color: white;
    padding: 100px;
    width: 70%;
    box-sizing: border-box;
    left: 400px;
    bottom: 200px;
}

.text-container h1 {
    font-size: 50px;
}

.text-container p {
    margin: 40px 0px;
}




/* .image-container img {
    width: 65%;
    height: 350px;


} */

.nav-button {
    border: solid;
    color: #878789;
    padding: 5px 5px;
    border-radius: 5px;
    border-color: #878789;
    /* Set the border color to white */
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 5px 10px;


}

.nav-button a {
    color: #878789;

}

.nav-button:hover {
    background-color: #fc6262;
    text-decoration: none;
    color: #000;
}

.nav-link {
    color: #fff;
    font-size: 15px;
}

.nav-link:hover {
    color: #fc6262;

}




.vision {
    padding: 40px 0px;
}

.buttons {
    text-align: center;
    margin: 60px 0px;

}

.button {
    background-color: #fc6262;
    color: #000;
    padding: 5px 20px;
    text-decoration: none;
    width: 200px;
    /* display: flex;
    justify-content: center; */

}


.button:hover {
    background-color: white;
    text-decoration: none;
    color: #fc6262;
}

.display-center-container {
    display: flex;
    justify-content: center;
}

.center-component {
    text-align: center;
}

.center-component h1 {
    font-size: 50px;
    margin: 20px 0px;
}




footer {
    background-color: #141416;
    color: #878789;
    height: auto;
    padding: 50px 0px;



}


footer {
    text-align: left;
    font-size: 15px;
}



.footer-button {
    background-color: #fc6262;
    color: #000;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 20px
}

.footer-button:hover {
    background-color: white;
    text-decoration: none;
    color: #000;
}

.button-container {
    margin: 30px 0px 20px 0px;
}

body p {
    color: #878789;
    font-size: 15px;
}

body h1 {
    color: #fff;
}

.middle-container {
    padding: 100px 40px 40px 40px;
}

footer img {

    width: 100px;
    margin: 0px 0px 20px 0px;

}

.social-media {
    justify-content: start;
}

.footer-logo {
    color: #878789;
}


/* Header styles */
header {
    position: relative;
}

header img {
    width: 100%;
    height: auto;
}


/* event page css */

.events-container {
    background-color: #141416;
}

.events-image {

    display: flex;
    justify-content: flex-end;
}

.events-image img {
    width: 100%;


}

.events-detail {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px 20px 0px 20px;
    width: 80%
}

.events-detail p {
    color: #e4eade;
    font-weight: 400;
}

.lower-content {
    margin: 50px 0px 20px 0px;
}




/* Contact Us Css */
.contact-container {
    background-color: #141416;
    padding: 60px 0px;

}

.contact-container h1 {
    text-align: center;
    font-weight: 400;

}

.contact-container h4 {
    color: #fff;
    font-weight: lighter;
    margin: 0px 0px 20px 0px;

}

.contact-details {
    padding: 50px 0px;
}


/* 
AboutUs Css */
.background-image {
    background-image: url(back-image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* height: 100%; */
    padding: 50px 0px 10px 0px;
}

.content {

    background-color: #141416;
    padding: 60px;
    text-align: center;
    width: 40%;
    height: 80%;

}

.tables {

    background-color: #141416;
    padding: 100px 50px;
}

.first-table-container {
    /* margin:0px 50px 50px 50px; */

}

table {
    width: 100%;
    border-collapse: collapse;

}

.first-table-container td {
    padding: 70px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
}

li {
    color: #878789;
}

.first-column {
    width: 25%;
    text-align: center;
    color: #000;
    font-size: 50px;


}

.icon-boundary {

    padding: 30px;
    border-radius: 10px;

}


.blue-bg {
    background: rgb(137 156 232);

}

.red-bg {
    background: rgb(252 98 98);

}

.first-table-container img {
    height: 100%;
    width: 100%;
}

.first-table-container h4 {
    color: #fff;
}


.second-table-container {

    margin: 50px 0px 0px 0px;
}




.image-column {
    width: 40%;
    text-align: center;
}

.image-column img {
    width: 100%;
    height: auto;
}

.text-column {
    width: 60%;
    padding: 0px 100px;


}

.second-table-container td {
    border: 0.5px solid rgba(255, 255, 255, 0.2);

}

.table-image {
    background-image: url(company-logo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;

}

.image-content {}


.team-container {
    background-color: #141416;
}

.top-text {
    padding: 30px 0px 30px 100px;
}

.photo-container {
    background-color: #1a1a1c;
    padding: 100px 40px;

}

.photo img {
    /*width: 200px; */
    /* height: 200px; */
    /* position: relative; */
    width: 100%;
    object-fit: cover;
    height: 100%;

}

.photo-details-on-hover {
    width: 90%;
    height: 100%;
    background-color: #1a1a1c;
    text-align: center;
    position: absolute;
    top: 0px;
    opacity: 0;
    transition: 0.5s;
    padding: 50px 10px;
}

.photo-details-on-hover:hover {
    opacity: 0.8;
}
.photo-details-on-hover p {
    color: #fff;
}

.photo-text {
    background: #141416;
    padding: 10px 10px 0px 10px;
    width: 70%;
    position: absolute;
    box-sizing: border-box;
    right: 0px;
    bottom: -53px;
    /* left: 73px; */
}

.photo {
    height: 350px;
}

.parent-positioning {
    position: relative;
}

.photo-text h6 {
    color: #fff;
}

.bottom-row {
    margin: 80px 0px 0px 0px;
}







/* Media query for small screens */
@media (max-width: 767px) {
    footer {
        text-align: center;
        /* Align contents to center for small screens */
    }

    .overlaps-container {
        flex-direction: column;

    }


    .text-container {
        position: initial;
        width: 100%;
        padding: 70px 10px;
    }

    .button {
        margin: 10px 10px;
    }

    .image-container img {
        width: 100%;
    }

    .events-image {
        justify-content: center;
    }

    .events-detail {
        width: 100%;
        text-align: center;
    }

    .contact-container {
        text-align: center;
    }

    .content {
        width: 80%;
    }

    .first-column {
        display: none;
    }

    .text-column {

        padding: 0px 10px;
    }

    .top-text {
        padding: 30px;
        text-align: center;
    }

    .parent-positioning {
        margin: 0px 0px 80px 0px;
    }

    .bottom-row {
        margin: 0px 0px 0px 0px;
    }


}