/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;



}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1c;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #141416;
}

/* Navbar styles */
nav {
    background-color: #141416;
    padding: 10px 0;
}

nav img {
    height: 40px;
    margin-right: 20px;
}

.nav-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

nav.navbar {
    width: 100%;

}

.profile-icon {
    width: 20px;
    height: 20px;
    background-color: #fc6262;
    /* margin: 0 10px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: #141416;
    border-radius: 50%;
    padding: 2px;
}

.logins {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-right: 10px; */
    margin: 0px 10px;
    width: 80px;

}

.logins a {
    color: #fc6262;
}


.main-container {
    background-color: #1a1a1c;
    padding: 50px 0px 10px 0px;
}

.overlaps-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 60px 60px 30px 60px;
}

.image-container {
    flex-basis: 50%;
    position: relative;
}

.image-container img {
    width: 70%;

}

.text-container {
    position: relative;
    background-color: #141416;
    color: white;
    padding: 100px;
    width: 70%;
    box-sizing: border-box;
    left: 400px;
    bottom: 200px;
}

.text-container h1 {
    font-size: 50px;
}

.text-container p {
    margin: 40px 0px;
}




/* .image-container img {
    width: 65%;
    height: 350px;


} */

.nav-button {
    border: solid;
    color: #878789;
    padding: 5px 5px;
    border-radius: 5px;
    border-color: #878789;
    /* Set the border color to white */
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 5px 10px;


}

.nav-button a {
    color: #878789;

}

.nav-button:hover {
    background-color: #fc6262;
    text-decoration: none;
    color: #000;
}

.nav-link {
    color: #878789;
    font-size: 15px;
}

.nav-link:hover {
    color: #fc6262;

}




.vision {
    padding: 40px 0px;
}

.buttons {
    text-align: center;
    margin: 60px 0px;

}

.button {
    background-color: #fc6262;
    color: #000;
    padding: 5px 20px;
    text-decoration: none;
    width: 200px;
    /* display: flex;
    justify-content: center; */


}

.button:hover {
    background-color: white;
    text-decoration: none;
    color: #fc6262;
}

.display-center-container {
    display: flex;
    justify-content: center;
}

.center-component {
    text-align: center;
}

.center-component h1 {
    font-size: 50px;
    margin: 20px 0px;
}




footer {
    background-color: #141416;
    color: #878789;
    height: auto;
    padding: 50px 0px;



}


footer {
    text-align: left;
    font-size: 15px;
}



.footer-button {
    background-color: #fc6262;
    color: #000;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 20px
}

.footer-button:hover {
    background-color: white;
    text-decoration: none;
    color: #000;
}

.button-container {
    margin: 30px 0px 20px 0px;
}

body p {
    color: #878789;
    font-size: 15px;
}

body h1 {
    color: #fff;
}

.middle-container {
    padding: 100px 40px 40px 40px;
}

footer img {

    width: 100px;
    margin: 0px 0px 20px 0px;

}

.social-media {
    justify-content: start;
}

.footer-logo {
    color: #878789;
}


/* Header styles */
header {
    position: relative;
}

header img {
    width: 100%;
    height: auto;
}


/* event page css */

.events-container {
    background-color: #141416;
}

.events-image {

    display: flex;
    justify-content: flex-end;
}

.events-image img {
    width: 100%;


}

.events-detail {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px 20px 0px 20px;
    width: 80%
}

.events-detail p {
    color: #e4eade;
    font-weight: 400;
}

.lower-content {
    margin: 50px 0px 20px 0px;
}




/* Contact Us Css */
.contact-container {
    background-color: #141416;
    padding: 60px 0px;

}

.contact-container h1 {
    text-align: center;
    font-weight: 400;

}

.contact-container h4 {
    color: #fff;
    font-weight: lighter;
    margin: 0px 0px 20px 0px;

}
.contact-details{
    padding: 50px 0px;
}



/* Media query for small screens */
@media (max-width: 767px) {
    footer {
        text-align: center;
        /* Align contents to center for small screens */
    }

    .overlaps-container {
        flex-direction: column;

    }


    .text-container {
        position: initial;
        width: 100%;
        padding: 70px 10px;
    }

    .button {
        margin: 10px 10px;
    }

    .image-container img {
        width: 100%;
    }

    .events-image {
        justify-content: center;
    }

    .events-detail {
        width: 100%;
        text-align: center;
    }

    .contact-container{
        text-align: center;
    }

}